#get-contact {
  background-color: #f8fafc;

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    color: #495057;
    border-radius: 0.25rem;
    font-family: "Rajdhani", sans-serif;
  }

  textarea.form-control {
    height: auto;
  }

  .btn-submit {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    background: #ff5b62;
    border-radius: 6px;
    padding: 12px 20px !important;
    border: 1px solid #ff5b62;
    transition: 0.25s all;

    &:hover {
      background: none;
      color: #ff5b62 !important;
    }
  }
}
