$footerBg: url("~/assets/images/footer/footer-bg.png");

#footer {
  .top-footer {
    background-image: $footerBg;
    background-size: cover;
  }

  .bottom-footer {
    background-color: #1b5a90;

    a {
      font-size: 20px;
      margin: 0 4px;

      &:hover {
        color: #ff5b62 !important;
      }
    }
  }
}
